<html>
<head>
 <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
   <link
    rel="stylesheet"
    href="../../styles/$Conf(style).css"
    title="Mooshak en color"
    type="text/css">
</head>
<body onload="window.open('$page','work'); $command"
style="margin-top: 0; margin-bottom: 0;">

    <table width="100%" cellspacing="0" cellpadding="0">
        <tr>
            <td>
                <h3>$message</h3>
            </td>
            <td align="right">
                <h4>$remaining</h4>
            </td>
        </tr>
    </table>

</body>
</html>









































































































