<head>
 <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Mooshak</title>

   <link REL="icon" HREF="../../icons/mooshak-16.png" TYPE="image/png">
   <link REL="SHORTCUT ICON" HREF="../../icons/mooshak-16.png">

<script>
defaultStatus="Mooshak";
</script>

<frameset 
	rows="200,25,*"  
	border=0 
	frameborder="no">
	<frame noresize
		src="$Conf(controller)?htools" 
		bordercolor="white"
		scrolling="auto">
	<frame noresize
		src="$Conf(controller)?empty" 
		name="answer" 
		bordercolor="white"
		scrolling="auto">
	<frame 
		src="$Conf(controller)?listing" 
		name="work" 
		scrolling="auto">
	</frameset>
</head>

