<html>
<head>
 <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title><i>Feedback</i> à submissão S$number</title>
	<link 
		rel	="stylesheet" 
		href	="../../../styles/$Conf(style).css" 
		type	="text/css">

	<style>
	  div.feedback {
	  	padding:	3mm;
		height:		75%; 
		overflow:	auto;
	  }
	  pre { 
		margin: 	2mm;
	  	padding:	3mm; 
	  	background: 	white; 
	  }
	  hr { 
		margin: 5mm; 
	  }
	</style>
</head>
<body>
  <table width="100%" border="0">
    <tr><td>	<h2><i>Feedback</i> à submissão S$number</h2> </td>
    <td valign="top" align="right">
	<input type="button" value="Voltar" 
		onClick="history.back()">
	</td>
    </tr>
 </table>


	<div id="Base" class="feedback">
	  $feedback
	</div>

</body>
</html>
