<!-- DEPRECATED -->
<body>
<center>
<table>
<tr>
        <td witdh+"25%">&nbsp;</td>
        <th colspan="2"><font size="+2">$name</font></th>
	<td witdh+"25%">&nbsp;</td>
</tr>
<tr>
	<td witdh+"25%">&nbsp;</td>
	<td witdh+"25%">&nbsp;</td>
	<td witdh+"25%">&nbsp;</td>
	<td witdh+"25%">&nbsp;</td>
</tr>
<tr>
	<td witdh+"25%">&nbsp;</td>
	<td witdh+"25%">&nbsp;</td>
	<td witdh+"25%">&nbsp;</td>
	<td witdh+"25%">&nbsp;</td>
</tr>
<tr>
	<td witdh+"25%">&nbsp;</td>
	<th><font size="+2">Team</pre></font></th>
	<td><font size="+2"><pre> $Name</pre></font></td>
	<td witdh+"25%">&nbsp;</td>
</tr>
<tr>
	<td witdh+"25%">&nbsp;</td>
	<th><font size="+2">Password</pre></font></th>
	<td><font size="+2"><pre> $Password</pre></font></td>
	<td witdh+"25%">&nbsp;</td>
</tr>
</table>



</body>








































































































