<html>
<head>
 <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
   <link rel="stylesheet" href="../../styles/$Conf(style).css" type="text/css">
</head>
<body>
<title>Upload archive with images </title>
<center>

<H2>Upload archive with images</H2>
<form 
	method	="post" 
	enctype="multipart/form-data" 
	target="_self" 
	action="$Conf(controller)?operation+uploading_from_archive+$dir">

   File <input type="file" name="file"> 

   <input type='submit' value='Import'>

</form>

<table>
<tr><td class="Note">

<p>Upload archive containing images in JPEG, PNG, or GIF format.</p>

<p>Archive may be in <code>ZIP</code> ou <code>TAR</code> format and
  may compressed</p>

</td>
</tr>


</center>
</body>
</html>








































































































