

<html>
<head><html>
<head>
 <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Mooshak</title>
<link rel="stylesheet" href="../../styles/$Conf(style).css" type="text/css">

   <link REL="icon" HREF="../../icons/mooshak-16.gif" TYPE="image/gif">
   <link REL="SHORTCUT ICON" HREF="../../icons/mooshak-16.gif">


<script>
defaultStatus="Mooshak";
</script>

</head>
<body>

<p>
<center>
<p>
<table width="50%" cellspacing="10" cellpadding="10" Id="Base">
<tr><td>

<img src="../../icons/mooshak.gif">


<p>Bem vindo ao Mooshak, um sistema para <b>gerir concursos de
programação</b> na web. O Mooshak suporta <b>avaliação automática</b>
dos programas submetidos, resposta a questões a seguimento de
impressões.</p> 


<div align="center">
<form method="POST" action="$Conf(controller)?login"><input type="submit" value="Login"></form>
</div>


Use este apontador para 
<a href="$Conf(controller)?login">entrar no Mooshak</a>.
Há 4 perfis de utilização requerendo <b>autenticação</b>. Esta
distribuição inclui um concurso de teste com um utilizador definido em
cada perfil. Os nomes de utilizador e senhas são os mesmos do nome do perfil.

Pode (e deve) criar novos utilizadores e alterar estas senhas
posteriormente., especialmente a senha de <code>admin</code>.

Pode também utilizar outras funcionalidades do Mooshak, tais como


<ol>
  <li><a href="$Conf(controller)?guest">Resultados de concursos</a>
  <li><a href="$Conf(controller)?register">Registar em concursos em-linha</a>
  <li><a href="$Conf(controller)?help" target="help">Ajuda em linha</a>
  <li><a href="$Conf(controller)?check">Listas de verificação</a><p>
</ol>


<p>Pode também usar o Mooshak como um serviço web REST. Use
  esta <a href="../../service.html">página de teste</a> para ver como o
  serviço é usado.</p> 


Comentários, sugestões ou relatórios de problemas? por favor envie-os para
<a href="mailto:zp@dcc.up.pt">Jos&eacute; Paulo Leal</a>


</div>
</td></tr>

</table>

</body>
</html>

