<html>
<head>
 <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
   <link
    rel ="stylesheet"
    href    ="../../styles/$Conf(style).css"
    type="text/css">
</head>
<body>
<center>
    <form
        method  ="post"
        enctype ="multipart/form-data"
        target  ="top"
        action="execute">

        <table
            cellpadding ="5"
            cellspacing ="0"
            width       ="100%"
             border="0">
            <tr>
                <th
                    id  ="Base"
                     align  ="left"
                     colspan="2">
                    Comentarios al problema $problems
                    &nbsp;&nbsp;&nbsp;&nbsp;
                </th>
                <td
                    id  ="Base"
                    align   ="right">
                    <a
                        target  ="_blanc"
                        href="../help?interfaces/listings/warnings">
                        <img
                            border  ="0"
                            src="../../icons/unknown.png">
                    </a>
                </td>
            </tr>
            <tr>
                <td
                    id  ="Base"
                    align   ="center">
                    <b>Asunto:</b>
                    <input
                        type    ="text"
                        name    ="subject"
                        size    ="60"
                        maxlength="60">
                </td>
                <th
                    id="Base"
                    colspan="2">
                    <input
                        type    ="submit"
                        name    ="asked"
                        style   ="width: 100px;"
                        value   ="Enviar">
                </th>

            </tr>
            <tr>
                <td
                    id  ="Base"
                    align   ="center">
                    <textarea
                        name="answer"
                        cols="55"
                        rows="5"></textarea>
                </td>

                <th
                    id  ="Base"
                    colspan ="2">
                    <input
                        type    ="reset"
                        style   ="width: 100px;"
                        value   ="Borrar">
                </th>
            </tr>
        </table>
    </form
</center>
</body>
</html>









































































































