<html>
<head>
 <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
   <link rel="stylesheet" href="../../styles/$Conf(style).css" type="text/css">
</head>
<body>
<center>
    <table
        cellpadding="10"
        cellspacing="0"
        border="0"
        width="100%">
    <tr>
        <th id="Title" width="20%"> Problema</th>
        <td id="Base">&nbsp;$Problem</td>
    </tr>
    <tr>
        <th id="Title" width="20%"> Equipo</th>
        <td id="Base">&nbsp;$Team</td>
    </tr>
    <tr>
        <th id="Title" width="20%"> Asunto</th>
        <td id="Base">&nbsp;$Subject</td>
    </tr>
    <tr>
        <th id="Title" valign="top" width="20%"> Pregunta</th>
        <td id="Base" valign="top"><div class="Text">$Question</div></td>
    </tr>
    <tr>
        <th id="Title" valign="top" width="20%"> Respuesta</th>
        <td id="Base" valign="top"><div class="Text">$Answer</div></td>
    </tr>
    </table>
</center>
</body>
</html>

