<html>
<head>
 <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
   <link rel="stylesheet" href="$REL_BASE/styles/base.css" type="text/css">
</head>
<body>
<center>
<form method="post" enctype="multipart/form-data" target="index" action="execute">
<table cellpadding="20" cellspacing="0" width="100%" border="0">

<tr><th><img src="icons/blank.gif" width="1" height="70" border="0"></th></tr>

<tr>
    <td id="Base"><img src="icons/blank.gif" width="1" height="200" border="0"></td>
    <th id="Base">
    Fin del concurso
    <input type="text"  name="limit" value="$limit" size="16" maxsize="16">
    <input type="submit"    name="started" value="Comenzar">
    </th>

</tr>
</table>
</form
</center>
</body>
</html>









































































































