<html>
<head>
 <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
   <link 
	rel="stylesheet" 
	href="../../styles/$Conf(style).css"
	type="text/css">
</head>
<body>
	<center>
	<table 
		cellpadding	="20" 
		width		="100%">
		<tr>
			<td id="Base">$description</td>
		</tr>
	</table>
	</center>
</body>
</html>
<!part ext="missing">
<table border="2" cellpadding="10" bgcolor="white">
<tr><td>
<form 
	method	="post" 
	enctype	="multipart/form-data" 
	target	="work" 
	action	="$Conf(controller)?content+$path/images">
	<center><h3>Missing image file <code>$name</code></h3></center>

	Plese select the missing file and upload it.<br>
	Uploaded image files will be placed in the 
	<a target="select" href="$Conf(controller)?data+$path/images"<code>images</code></a>
	sub-directory.

	<p>
	Image File <input type="file" name="Image" >
	<input type="Submit" value="Upload">

</form>
</td></tr>
</table>









































































































