

<html>
<head><html>
<head>
 <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Mooshak</title>
<link rel="stylesheet" href="../../styles/$Conf(style).css" type="text/css">

   <link REL="icon" HREF="../../icons/mooshak-16.gif" TYPE="image/gif">
   <link REL="SHORTCUT ICON" HREF="../../icons/mooshak-16.gif">


<script>
defaultStatus="Mooshak";
</script>

</head>
<body>

<p>
<center>
<p>
<table width="50%" cellspacing="10" cellpadding="10" Id="Base">
<tr><td>

<img src="../../icons/mooshak.gif">

<p>

Bienvenido a Mooshak, un sistema creado para <b>manejar concursos de programaci&oacute;n</b> en red.
Mooshak permite la <b>evaluaci&oacute;n autom&aacute;tica</b> de los programas enviados,
la resolución de cuestiones sobre los problemas, y el seguimiento de las impresiones de código.
<p>

<div align="center">
<form method="POST" action="$Conf(controller)?login"><input type="submit" value="Entrar"></form>
</div>


Use este enlace para
<a href="$Conf(controller)?login">entrar en Mooshak</a>.
Existen 4 perfiles de usuario que requieren
<b>autentificaci&oacute;n</b>. Esta distribuci&oacute;n incluye un concurso de prueba
(<b>Contest</b>) con un usuario definido para cada perfil. Los nombres de los usuarios y las claves
coinciden con el nombre del perfil correspondiente.



Puedes (y debes) crear nuevos usuarios y cambiar las claves despu&eacute;s,
especialmente la clave del usuario <code>admin</code>.

Tambi&eacute;n puedes usar otras caracter&iacute;sticas ofrecidas por Mooshak, tales como

<ol>
  <li><a href="$Conf(controller)?guest">Resultados de los concursos</a>
  <li><a href="$Conf(controller)?register">Registrarte en un concurso on-line</a>
  <li><a href="$Conf(controller)?help" target="help">Ayuda on-line</a>
  <li><a href="$Conf(controller)?check">Listas de comprobaci&oacute;n</a><p>
</ol>



Cualquier comentario, sugerencia, o aviso de errores, por favor enviar a
<a href="mailto:zp@ncc.up.pt">Jos&eacute; Paulo Leal</a>


</div>
</td></tr>

</table>

</body>
</html>

