<html>
<head>
 <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
   <link rel="stylesheet" href="../dd/styles/Conf(style)" type="text/css">
</head>
<body>
<title>Importar fichero de datos de equipos ACM</title>
<center>

<H2>Importar fichero de datos de equipos ACM</H2>
<form
    method  ="post"
    enctype="multipart/form-data"
    target="_self"
    action="$Conf(controller)?operation+importing+$dir">

   Fichero <input type="file" name="file">

   <input type='submit' value='Importar'>

</form>

<table>
<tr><td class="Note">


Use ficheros como <code>TeamB.tab</code> o <code>TeamC.tab</code> para la utilidad de impresi&oacute;n ACM. Se trata
de ficheros con los siguientes campos separados por tabuladores:
<pre>
id id role name group team
<pre>

</td>
</tr>


</center>
</body>
</html>








































































































