<html>
<head>
 <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Mooshak</title>

   <link REL="icon" HREF="../../icons/mooshak-16.png" TYPE="image/png">
   <link REL="SHORTCUT ICON" HREF="../../icons/mooshak-16.png">

<script>
defaultStatus="Mooshak";
</script>

<frameset cols="350,*" border="0" frameborder="no">
<frameset rows="80,*" border="0" frameborder="no">
	<frame src="$Conf(controller)?banner" name="banner" scrolling="no">
	<frame src="$Conf(controller)?vtools" name="select">
</frameset>
	<frame src="$Conf(controller)?empty" name="work">
</frameset>
</head>
</html>

