<html>

<body>

<!part ext="head">
<h2>Mapa global de conexiones</h2>

<table><tr><td>
<table border="1" cellspacing="5" cellpadding="5">
<tr><th>De/a</th>
<!part ext="col">
<th bgcolor="$color">$ref</th>
<!part ext="sep">
</tr>
<!part ext="lin_cab">
<tr bgcolor="$color"><th>$ref</th>
<!part ext="cel">
<th bgcolor="$color"><pre>$label<pre></th>
<!part ext="lin_rod">
</tr>
<!part ext="mid">
</table>
</td><td>

<blockquote>
<b><code>[-]</code> </b>: enviando y recibiendo</br>
<b><code>[-[</code> </b>: enviando pero no recibiendo</br>
<b><code>-]]</code> </b>: recibiendo pero no enviando</br>
<b><code>-][</code> </b>: ni recibiendo ni enviando</br>
</blockquote>

<ul>
<!part ext="lin2">
<li><b>$ref</b> <code>$h</code></li>
<!part ext="foot">
</ul>
</td></tr></table>
<hr><pre>$out</pre>
</body>
</html>











































































































