<html>
<head>
 <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
   <link rel="stylesheet" href="{$REL_BASE/styles//base.css}" type="text/css">
</head>
<body>
<center>
<form method="post" enctype="multipart/form-data" target="index" action="execute">
<table cellpadding="20" cellspacing="0" width="100%" border="0">

<tr><th><img src="{$REL_BASE/icons/blank.gif}" width="1" height="70"></th></tr>

<tr>
	<td id="Base" rowspan="2"><img src="{$REL_BASE/icons/blank.gif}" width="1" height="200">
	<th id="Base" colspan="2">
	<h2>	$message	</h2>
	
	</th>
</tr>
<tr>
	<td id="Base" align="center">
	<input type="submit" name="{$command}" value="Confirm">
	</td>

	<td id="Base" align="center">
	<input type="submit" name="" value="Cancel">
	</td>

</tr>
</tr>
</table>
</form
</center>
</body>
</html>









































































































